.projects {
  background: #afc1ef;

  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      width: 370px;
      height: 290px;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 15px;
      margin-left: 15px;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 1s ease;
    }
  }
}
