.app {
  overflow: hidden;
  height: auto;
  color: white;
  font-weight: light;

  background: #1a1a1a;

  @keyframes blink {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  #overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #f1f1f1;
  }

  #overlay1:hover {
    opacity: 1;
  }

  #text1 {
    color: rgb(24, 18, 46);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
  }

  #image1 {
    opacity: 0;
  }

  h5 {
    overflow: hidden;
    text-decoration: none;
  }

  .close {
    font-size: 1.5rem;
  }

  .col-12 img {
    margin: 2rem;
    width: 100%;
  }

  #logo {
    font-weight: lighter;
  }

  i {
    color: white;
  }
}
